<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add home to airbnb</title>
   <link rel="stylesheet" href="/output.css" />
</head>

<body>
  <header>
    <h1>Register home Details</h1>
  </header>
  <main>
    <div style="border:1px solid black; padding:10px; width:300px;">
      <form action="/host/home" method="POST"><br>
        <label>House Name:</label><br>
        <input type="text" name="homeName" placeholder="Enter house name" /><br></br>
        <button type="submit">Submit</button>
    </div>
  </main>
</body>
</html>