<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact US Form</title>
  </head>
  <body>
    <div>
      <header>Contact US Page</header>
      <main>
        <div style="margin: 200px; border-radius: 1px solid;">
          <form action="/host/contact-us" method="POST">
            <label>Name:</label><br />
            <input
              type="text"
              name="name"
              placeholder="Enter your name"
            /><br />
            <label>Email:</label><br />
            <input
              type="email"
              name="email"
              placeholder="Enter your email"
            /><br /><br />
            <button type="submit">Submit</button>
          </form>
        </div>
      </main>
    </div>
  </body>
</html>
